body {
  transition-duration: 0.4s;
  background-color: black;
  font-size:14px;
  font-color:white;
  font-family:comic sans MS;
}

h1 {
  font-size:40px;
  text-align: center;
  color: red;
  margin-left: 20px;
}

h2 {
  font-size:20px;
  color: cyan;
  margin-left: 0px;
  text-align: left;

}
input{
  font-size: 20px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 10px solid green;
  padding: 20px;
  border-style: inset;
  border-style: outset;
}
button{
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  border: wavy;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}
.closebutton{
  border: wavy;
  border-radius: 12px;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  font-size: 18px;
  margin-right: 0px;
}


button:hover{
    background-color: black;
    color: white;
}

table {
margin-left: auto;
margin-right: auto;
}

div{
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border: wavy;
  border-radius: 12px;
  font-size: 24px;
  background-color: white;
}
